/*-- scss:defaults --*/

// $font-family-sans-serif: Calibri, Verdana, Helvetica, sans-serif;
// $font-family-monospace: monospace;
$presentation-font-size-root: 18pt;
// $presentation-font-smaller: 0.7;
// $presentation-line-height: 1.3;
// $body-bg: #fff;
// $body-color: #222;
// $text-muted: lighten($body-color, 50%);
// $link-color: #2a76dd;
// $link-color-hover: lighten($link-color, 15%);
// $selection-bg: lighten($link-color, 25%);
// $selection-color: $body-bg;
// $border-color: lighten($body-color, 30%);
// $border-width: 1px;
// $border-radius: 3px;
// $presentation-heading-font: $font-family-sans-serif;
$presentation-heading-color: #00B0F0;
// $presentation-heading-line-height: 1.2;
// $presentation-heading-letter-spacing: normal;
// $presentation-heading-text-transform: none;
// $presentation-heading-text-shadow: none;
// $presentation-h1-text-shadow: none;
// $presentation-heading-font-weight: 600;
// $presentation-h1-font-size: 2.5em;
// $presentation-h2-font-size: 1.6em;
// $presentation-h3-font-size: 1.3em;
// $presentation-h4-font-size: 1em;
// $presentation-block-margin: 12px;
// $presentation-slide-text-align: left;
// $presentation-title-slide-text-align: center;
// $code-block-bg: $body-bg;
// $code-block-border-color: lighten($body-color, 60%);
// $code-block-font-size: 0.55em;
// $code-color: var(–quarto-hl-fu-color);
// $code-bg: transparent;
// $tabset-border-color: $code-block-border-color;
// $light-bg-text-color: #222;
// $light-bg-link-color: #2a76dd;
// $light-bg-code-color: #4758ab;
// $dark-bg-text-color: #fff;
// $dark-bg-link-color: #42affa;
// $dark-bg-code-color: #ffa07a;

/*-- scss:rules --*/

.reveal .slide p {
	padding: 1rem 1rem;
	// border: 1px solid #ccc;
}

.reveal .slide img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.reveal .slide .columns .column {
	vertical-align: middle;
	text-align: center;
}

.reveal .slide .cell {
	width: 100%;
}

.callout {
	font-size: 0.875em !important;
}

.reveal .slide aside {
	padding: 1rem 0;
}

.reveal .slide aside .aside-footnotes>li {
	margin-top: -2.25rem;
}

.reveal section.slide {
	width: 100%;
	height: 100%;
	display: flex !important;
	flex-direction: column;
	justify-content: start;
	align-items: center;


	>h1 {
		// position: absolute;
		// top: 0;
		width: 100%;
		font-size: 2.75rem !important;
		font-weight: normal !important;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: $presentation-heading-line-height;
		/* fallback */
		max-height: 2;
		/* fallback */
		-webkit-line-clamp: 2;
		/* number of lines to show */
		-webkit-box-orient: vertical;
		z-index: 10;
		padding-bottom: 1rem;
	}
}

.reveal figure figcaption {
	text-align: center;
}

.attribution .content p {
	margin: 12rem 0rem;
	writing-mode: vertical-rl;
}

// .reveal.has-logo .slide-number {
// 	bottom: 8px !important;
// 	top: auto !important;
// 	z-index: 10;
// }

// .reveal img.slide-logo {
// 	left: 50%;
// 	translate: -50%;
// }